[ req ] 
distinguished_name	= req_distinguished_name

[ req_distinguished_name ]

[ v3_req ]
subjectAltName          = $ENV::SAN

# the fields below are not really needed, they seem to be set by most CAs for
# SSL server certificates
keyUsage                = critical,digitalSignature,keyEncipherment
extendedKeyUsage        = serverAuth,clientAuth
basicConstraints        = critical,CA:FALSE
